<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.demo.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"  />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.demo.app.MainActivity"
            android:theme="@style/AppTheme.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ScrollingViewActivity" android:label="ScrollingView" />
        <activity android:name=".StickyActivity" android:label="Sticky"/>
        <activity android:name=".HeightMatchParentActivity" android:label="Height - MatchParent"/>
        <activity android:name=".HeightExactlyActivity" android:label="Height - Exactly"/>
        <activity android:name=".RefreshAsParentActivity" android:label="refresh as parent"/>
        <activity android:name=".RefreshAsChildActivity" android:label="refresh as child"/>
        <activity android:name=".ViewPagerActivity" android:label="ViewPager"/>
        <activity android:name=".ScrollViewActivity" android:label="ScrollView" />
        <activity android:name=".WebViewActivity" android:label="WebView"/>
    </application>

</manifest>